@import "color";

footer {
  width: 100%;
  height: 100vh;
  background-color: $yellow;
  position: fixed;
  top: 0%;
  z-index: -1;
  padding: 5vmax;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: $pink;
    font: italic 800 3vmax $text;
  text-align: center;

  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2vmax;
  }

  a {
    text-align: right;
    color: $pink;
    text-transform: uppercase;
    font: 500 1vmax $text;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 1.9;
    transition: all 0.5s;
  }

  div {
    color: $pink;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:last-of-type {
      align-items: flex-end;
    }

    h5 {
      font: 500 2vmax $text;
      line-height: 1.2;
      margin: 1rem 0;
    }

    a {
      text-decoration: none;
      font-family: $text;
      color: $pink;
      text-align: left;
    }
  }

  p {
    font: 500 1.4vmax $text;
    color: $pink;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: -2;
  position: absolute;
}

.fadeFooterLinks {
  opacity: 0.4;
}

// * {
//   border: 1px solid red;

// }

@media (max-width: 1000px) {
  footer {
    top: 0%;
    left: 0%;
    padding: 4vmax;

    p {
      text-align: center;
      width: 100%;
      padding: 0 2vmax;
    }
    a {
      font: 500 1.5vmax $text;
    }
  }


  footer {
    h1 {
      font-size: 5vmax;
      text-align: center;
    }

    aside {
      align-items: center;
    }

    div {
      padding: 2rem;
      align-items: center;

      &:last-of-type {
        align-items: center;
      }
    }
  }
}

@media (max-width: 800px) {
  footer {
    padding: 7vmax;
    a {
      font: 500 2vmax $text;
      margin: 2px;
    }
  }
}